<h1>New Todo Create</h1>

<%= form_with(model: @task, local: true) do |f| %>
    <%= f.label :todo, 'Task: ' %>
    <%= f.text_field :todo %>
    
    <%= f.submit 'Send'%>
<% end %>
<br>
<%= link_to 'Buck to Index', tasks_path %>